<div class="container">
<div class="d-flex mt-5">
    <div class="row mt-5 pt-5 pb-4 marginfromtop">
        <h2 class="aplus-red-color"> Courses we Offer </h2>
        
    </div>
</div>
    <div class="row">
        <mat-card>
            <div class="aplus-bg-red p-2">
                <h5 class="while-color justify-content-center pt-1 px-3">Foundation</h5> 
            </div>
            
             <mat-card-header>
                    
             </mat-card-header>
             <mat-card-content>
                 <p class = "pt-4 px-5">
                    In these comptative era, its always beeter for the <b>engineering</b> and <b>medical</b> aspirants 
                    to start the preparation at the begenning stage which start immidiate after completing high school. 
                    This course is designed to build the stack for the basic to advance 
                 </p>
                <p class="px-5 pt-2">
                <b class="px-5">  1. Two year class room programme for the student passed the 10th exam. </b>
                </p>
                <p class="px-5">
                    <b class="px-5">2. One year class room programme for the class 12th student. </b>
                </p>

             
                <p class="pt-2 px-5">The main focus of this course is to develop the solid basic foundations which help them to think analytically and logically. This course sets the road map and get them mastery to approach any problem</p>
                <p class="pt-2 px-5">This course is designed not to only prepare them for competative examinations but also for the board exams.Varieties of study materials give the proper guidance for board as wll as competative examination. </p>
                <p class="pt-2 px-5">Regulat tests, problem discussions and feebacks help the students to understand their weekness and to wron its resolution.</p>
                <p class="pt-2 px-5">Regulat connect and mentorship to the student, to boost the morale and think positive. </p>
              </mat-card-content>
        </mat-card>
    </div>

 
    <div class="row mt-5">
        <mat-card>
            <div class="aplus-bg-red p-2">
                <h5 class="while-color justify-content-center pt-1 px-3">IIT Target</h5> 
            </div>
             <mat-card-header>
                    
             </mat-card-header>
             <mat-card-content>
                <p class = "pt-4 px-5">
                    This is one year prpgramme for engineering aspirants.
                 </p>
                

                
                <p class="pt-2 px-5">This course is designed to build the skills on all the three area <b>Physics, </b> <b>Chemistry</b> and <b>Mathematics</b> from the very basic to advance level.</p>
              
              </mat-card-content>
        </mat-card>
    </div>

    <div class="row mt-5">
        <mat-card>
            <div class="aplus-bg-red p-2">
                <h5 class="while-color justify-content-center pt-1 px-3">NEET Target</h5> 
            </div>
             <mat-card-header>
                    
             </mat-card-header>
             <mat-card-content>
                <p class = "pt-4 px-5">
                    This is the prpgramme for modical aspirants.
                 </p>
                

                
                <p class="pt-2 px-5">This course is designed to build the skills on all the three area <b>Physics, </b> <b>Chemistry</b> and <b>Biology</b> from the very basic to advance level.</p>
              
              </mat-card-content>
        </mat-card>
    </div>
  
</div>