<div class="mt-auto">
  <footer class="pt-4 my-md-5 pt-md-5 border-top px-5">
      <div class="row">
        <div class="col-6 col-md px-5">
          <h5>Get to Know Us</h5>
          <ul class="list-unstyled text-small justify-center">
            <li><a class="text-muted" target="_blank">About Us</a></li>
            <li><a class="text-muted" target="_blank">Our Vision</a></li>
            <li><a class="text-muted" target="_blank">Press Release</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Connect with us on social media platform</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">Facebook</a></li>
            <li><a class="text-muted">Youtube</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>lets Work Together</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" target="_blank">Mail Us</a></li>
            <li><a class="text-muted" target="_blank">Our Office</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Help</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" target="_blank">Payment</a></li>
            <li><a class="text-muted" target="_blank">Policy</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>