<!-- <div class="container mt-5">
    <div class="row m-5">
      <div class="col"></div>
      <div class="col-6"></div>
      <div class="col"></div>
    </div>
    <div class="row pt-5">
      <div class="col ml-5 p-5">
        <div class="row aplus-bg-red p-2 mb-5 marginfromtop">
          <h5 class="while-color justify-content-center px-3">About Institute</h5> 
      </div>

      <p> write something abut A +
        The internet was originally created to store and present static (unchanging) documents. The aspects of HTML discussed above were seen perfectly in these documents which lacked all design and styling. They presented structured information that contained links to other documents.
      </p>  
      
      <p class="mt-5"> write something abut A +
        The internet was originally created to store and present static (unchanging) documents. The aspects of HTML discussed above were seen perfectly in these documents which lacked all design and styling. They presented structured information that contained links to other documents.
      </p>

      <div class="row aplus-bg-red p-2 mb-5 mt-5">
        <h5 class="while-color justify-content-center px-3">Director Words</h5> 
    </div>

      <p class="mt-5"> write something abut A +
        The internet was originally created to store and present static (unchanging) documents. The aspects of HTML discussed above were seen perfectly in these documents which lacked all design and styling. They presented structured information that contained links to other documents.
      </p>
      <p class="mt-5"> write something abut A +
        The internet was originally created to store and present static (unchanging) documents. The aspects of HTML discussed above were seen perfectly in these documents which lacked all design and styling. They presented structured information that contained links to other documents.
      </p>

      <div class="row aplus-bg-red p-2 mb-5 mt-5">
        <h5 class="while-color justify-content-center px-3">Our Mission</h5> 
    </div>
    <p class="mt-5"> write something abut A +
      The internet was originally created to store and present static (unchanging) documents. The aspects of HTML discussed above were seen perfectly in these documents which lacked all design and styling. They presented structured information that contained links to other documents.
    </p>
    <p class="mt-5"> write something abut A +
      The internet was originally created to store and present static (unchanging) documents. The aspects of HTML discussed above were seen perfectly in these documents which lacked all design and styling. They presented structured information that contained links to other documents.
    </p>
    </div>
      <div class=" col-4 border-start border-danger ml-5 px-5" style="margin-left: 10em;">
        <img class="w-100 h-100 mb-2 shadow-sm p-3 bg-white rounded" style="max-height: 340px; max-width: 400px;" src="/assets/images/director.jpg" alt="APlus Director" routerLink="/" />
        <div class="ml-5 px-5 mb-1 mt-2">
        <span class=" ml-5 px-4"><b>Alok Srivastava</b></span>
        </div>
    </div>
    </div>
  </div> -->



  <div class="container marketing">

    <hr class="featurette-divider mt-5 marginfromtop250">
    <div class="row aplus-bg-red p-2 mb-5 mt-5">
      <h5 class="while-color justify-content-center px-3">Director Words</h5> 
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">A huge collection of running shoes and sports equipments</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="shadow-sm p-3 bg-white rounded" style="max-height: 340px; max-width: 400px;" src="/assets/images/director.jpg" alt="APlus Director" routerLink="/" />
    </div>
  </div>
 </div>