<div class="container">

    <div class="d-flex mt-5">
        <div class="row mt-5 pt-5 pb-4 marginfromtop">
            <h2 class="aplus-red-color"> Why should anyone join us </h2>
            
        </div>
    </div>

    <div class=" row d-flex">
        <div>
        <div class="aplus-bg-red p-2 mt-4">
            <h5 class="while-color justify-content-center pt-1 px-3">Timely complition of course</h5> 
        </div>
        <p class="px-5 pt-4"> All courses have proper teaching plan to complete within the timelines, which helps students to get an ample amout of time for revision classes, self studies and preparation of board/competitive examinations</p>
        </div>
    </div>

    <div class=" row d-flex">
        <div>
        <div class="aplus-bg-red p-2 mt-5">
            <h5 class="while-color justify-content-center pt-1 px-3">The classroom teaching</h5> 
        </div>
        <p class="px-5 pt-4">It is the backbone of our academic progress. A<sub>+</sub> Educare advantage lies on the intensive classroom teaching where concepts are developed from the very 
        basic to advance or desired level of competitive examination with the help of qualified and experienced faculty members.
        </p>
        </div>
    </div>

    <div class=" row d-flex">
        <div>
        <div class="aplus-bg-red p-2 mt-5">
            <h5 class="while-color justify-content-center pt-1 px-3">Problem solving desk</h5> 
        </div>
        <p class="px-5 pt-4">Since there are so many students can ask any question during a class or after the class.
            We ensure student must clear their doubt before we close the institute for the day. we care each and every students.
        </p>
        </div>
    </div>

    <div class=" row d-flex">
        <div>
        <div class="aplus-bg-red p-2 mt-5">
            <h5 class="while-color justify-content-center pt-1 px-3">Periodic test and result</h5> 
        </div>
        <p class="px-5 pt-4">The institute conducts a numbers of test such as :  <br>
            <span class="material-icons-outlined px-4 pt-2">done</span>
            <span class="">Topic Defined Test</span> <br>
            <span class="material-icons-outlined px-4 pt-1">done</span>
            <span class="">Combined Test</span> <br>
            <span class="material-icons-outlined px-4 pt-1">done</span>
            <span class="">Rank Booster Test</span> <br>
            <span class="material-icons-outlined px-4 pt-1">done</span>
            <span class="">Revision ( RPT, RCT, RBT, RMT) Test</span>

            <br><br>

            <span>
                These tests and assesments are designed in the same patters competitive tests designed and conducted.
                Apart from these test; also a number of short duration chapter defined test organized and announced by the respective faculty members.
                These test papers are desinged by a team of experts. Questions in the test papers are versatiles, original and innovative.
                Test copies are evaluated within a week of time and result circulated in timely manners.
            </span>

        </p>
        </div>
    </div>

    <div class=" row d-flex">
        <div>
        <div class="aplus-bg-red p-2 mt-5">
            <h5 class="while-color justify-content-center pt-1 px-3">Friendly with gaurdians</h5> 
        </div>
        <p class="px-5 pt-4">Not only students but we also connect with gaurdians to understand the progess, difficulties or challanges of any students; they face during the preparaton. <br>
            <span class="material-icons-outlined px-4 pt-4">play_arrow</span>
            <span class="">Share the progress report/performance/attendance of the student with their parents regularly.</span> <br>
            <span class="material-icons-outlined px-4 pt-4">play_arrow</span>
            <span class="">Gaurdian will notify at the same day, in case student is absent.</span> <br>
            <span class="material-icons-outlined px-4 pt-4">play_arrow</span>
            <span class="">Parents teacher meeting twice in a year.</span> <br>
        </p>
        </div>
    </div>

    <div class=" row d-flex">
        <div>
        <div class="aplus-bg-red p-2 mt-5">
            <h5 class="while-color justify-content-center pt-1 px-3">Study Materials</h5> 
        </div>
        <p class="px-5 pt-4">
            <span class="material-icons-outlined px-4 pt-4">keyboard_double_arrow_right</span>
            <span class="">Study material at A<sup>+</sup> Educare is prepared by the expert faculty members.</span> <br>
            <span class="material-icons-outlined px-4 pt-2">keyboard_double_arrow_right</span>
            <span class="">We make sure material is simplified for easy comprehensive and examination oriented.</span> <br>
            <span class="material-icons-outlined px-4 pt-2">keyboard_double_arrow_right</span>
            <span class="">Topic wise course material based on current trends on competitive examinations.</span> <br>
            <span class="material-icons-outlined px-4 pt-2">keyboard_double_arrow_right</span>
            <span class="">We make sure course material circulated prior to the complition of topic.</span> <br>
            <span class="material-icons-outlined px-4 pt-2">keyboard_double_arrow_right</span>
            <span class="">Theory notes, a vast question bank and daily practice sheet</span> <br>
            <span class="material-icons-outlined px-4 pt-2">keyboard_double_arrow_right</span>
            <span class="">Seperate practice assignment</span> <br>
        </p>
        </div>
    </div>

</div>