.tile-style {
    max-width: 400px;
  }
  
  .example-header-image {
     background-size: cover;
  }
  border-groove{
    border-style: groove !important;
  }



  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    //background-image: url("/src/assets/images/hero1.jpg");
  
    /* Add the blur effect */
     //filter: blur(1px);
     //-webkit-filter: blur(1px);
  
    /* Full height */
    height: 270px;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    //background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 1px dotted #f1f1f1;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 2px;
    text-align: center;
  }