<div class="container">

    <div class="d-flex mt-5">
        <div class="row mt-5 pt-5 pb-4 marginfromtop">
            <h2 class="aplus-red-color"> <span style="font-weight:700;" class="pt-5">A<sup>+</sup></span> Vision </h2>
            <span class="row"><span class="pl-5 pull-right aplus-red-color slogan-style">Accept the challange Positively</span> </span>
        </div>
    </div>

    <div class=" row d-flex mt-3">
        <p>
            The most important decision in your life is the one you take concerning your career. At <b>A+ Educare</b> we help shape your future by transforming your deream
             into reality. Our objective is to provide high quality, practice-based training programs that help you to get through competative examinations.
             <b>A+ Educare</b> inculates in you a modern sprit and positive attitude coupled with the name to succed.
             <br> <br>
             <span> At <b>A<sup>+</sup> Educare</b> we play a critical role in your life. we are your reliable allies helping you in every way to shape and build your future.
             <span>If you inspire to be an Engineer or Doctor, you need to be at <b>A+ Educare</b>.</span>
             <br>
             Welcome to the path to your dream, Welcome to <b>A+ Educare</b>

            </span>
            <br> <br>
            <span>
                A compatitive environment, cutting edge knowledge pool, comprehensive study material, scientifically developed teaching methodology put us fat ahead of our competitors,
                years of experience, dedicated and highly trained faculty ensure that you obtain critical edge which gives you a clear lead in the journey of your goals.
            </span>
            <br> <br>
            <span>
                Not only strong knowledge foundation, but also mentally attuned support provided to face the challanges of competitive examinations smoothly.
            </span>
            <span>
                A responsive and lively environment makes the whole process of learning fun and enriching experience. The peer group forms a valuable informal 
                network that supports your effort and directs collective energies to improve your probablity of success
            </span>
        </p>
        <div>
        <div class="aplus-bg-red p-2 mt-5">
            <h5 class="while-color justify-content-center pt-1 px-3">Our Main Focus</h5> 
        </div>
        <p class="mt-4 px-2">
            <b class=""><span class="material-icons-outlined">arrow_right_alt</span>
            <span class="p-3 mb-3">To provide the best quality teacher.</span>  </b>
            </p>
            
            <p class="mt-1 px-2">
                <b class=""><span class="material-icons-outlined">arrow_right_alt</span>
                <span class="p-3 mb-3">An examination oriented teaching.</span>  </b>
                </p>
                <p class="mt-1 px-2">
                    <b class=""><span class="material-icons-outlined">arrow_right_alt</span>
                    <span class="p-3 mb-3">Enhance hidden talent among students.</span>  </b>
                    </p>
                    <p class="mt-1 px-2">
                        <b class=""><span class="material-icons-outlined">arrow_right_alt</span>
                        <span class="p-3 mb-3">Provide best platform for economically challenged students.</span>  </b>
                        </p>
                        <p class="mt-1 px-2">
                            <b class=""><span class="material-icons-outlined">arrow_right_alt</span>
                            <span class="p-3 mb-3">Provide the same best faculties in every batches not only in specific batches</span>  </b>
                            </p>
        </div>
    </div>
</div>