<!-- <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <img src="/assets/images/addopen.gif" style="height: 60px; width: 300px;">
</div> -->

<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <div class="d-flex align-center">
      <img src="/assets/images/Alogo.png" style="max-height: 70px;" alt="myview" routerLink="/" class="logo" />
      <img src="/assets/images/name.png" style="max-height: 30px;" class="px-2" routerLink="/"  />
      <!-- <h5 class="my-0 ml-md-2 font-weight-normal">A<sup>+</sup> Educare</h5> -->
  </div>
    
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase pt-4" style="font-size:medium">
      <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="p-2" routerLink="/vision" routerLinkActive="active">Our vision</a>
      <a class="p-2" routerLink="/course" routerLinkActive="active">Courses</a>
      <a class="p-2" routerLink="/intro" routerLinkActive="active">Why Join Us</a>
      <a class="p-2" routerLink="/result" routerLinkActive="active">Results</a>
      <!-- <a class="p-2" routerLink="/mobileapp" routerLinkActive="active">out Mobile App</a> -->
      <a class="p-2" target="_blank" [href]="'https://play.google.com/store/apps/details?id=co.shield.wvyio'">Mobile App</a>
      <a class="p-2" routerLink="/contact" routerLinkActive="active">Contact Us</a>
      <a class="p-2" routerLink="/about" routerLinkActive="active">About Us</a>
      
      
      
      <!-- <a class="p-2" routerLink="/test-error" routerLinkActive="active">Test Error</a> -->
    </nav>


    <div class="d-flex align-center">
      <ng-container>
        
        <!-- <span class="mb-5">
          <a routerLink="/account/fblink">
          <i class="fa fa-facebook-square btn btn-outline-danger" aria-hidden="true"></i>
        </a>
      </span>
      <span class="px-3">
        <span class="material-icons btn btn-outline-danger">phone</span><span class="">+91-89-713-66772</span>
      </span> -->
      <span class="material-icons btn-md aplus-red-color">phone</span><span class="" style="font-size: 8pt;">+91-99-184-49970</span>
      <img src="assets/images/addopen.gif" style="height: 60px; width: 190px;">
      
    </ng-container>
  
     
    </div>
 <!-- <div class="mb-5">
  <ng-container>
  <img src="assets/images/addopen.gif" style="height: 60px; width: 300px;">
</ng-container>
 </div> -->


  </div>


  


  